nav.navbar {
	height: 50px;
	padding: 0;
    background-color: rgb(94, 216, 224);
    
    a.navbar-brand, span.navbar-brand {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
		padding: 0.5rem 1rem;
	}
}