div.bar-chart-widget {
    .card-container {
        margin: 2em;
      }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
        .card-title {
            margin: .5em .5em 0 .5em;
            padding-bottom: .125em;
        }

        .card-body {
            margin: .125em 1em 0 1em;
            border-top: 1px solid lightgray;
        }

        div.dropdown {
            margin: 0 .5em .5em 0;
            padding-bottom: .5em;

            .btn {
                padding: 0.25rem 0.75rem;
            }
            .dropdown-menu {
                max-height: 200px;
                overflow-y: auto;
            }
            .dropdown-item {
                padding: 0.125rem 1.5rem;
            }
        }
    }
}
